<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
    {% if title %}
    <title>{{ title }} - bestla</title>
    {% else %}
    <title>Welcome to bestla</title>
    {% endif %}
  </head>
  <body>
  <div id="headercontainer">
    <div id="title">bestla: </div>
        <ul class="nav">
            <li><a href="/index"><div class="navitem">Home</div></a></li>
            <li><a href="/stop"><div class="navitem">Power</div></a></li>
        </ul>
    </div>
  </div>
  <div id="contentcontainer">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
