<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <form action="/stop" method="post" name="stopform">
      {{ form.hidden_tag() }}
      <p><input type="submit" value="Stop Bestla"></p>
  </form>
{% endblock %}
