<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <form action="/new" method="post" name="virtform">
      {{ form.hidden_tag() }}
      <p>
          Please enter a name for your virtual machine:<br>
          {{ form.name(size=80) }}<br>
      </p>
      <p><input type="submit" value="Create"></p>
  </form>
{% endblock %}
