<!-- extend from base layout -->
<meta http-equiv="refresh" content="5; url=/machines">
{% extends "base.html" %}

{% block content %}
<br>
<table id="vmTable" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody>
        {% for row in vms %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.ip }}</td>
            <td><a href='/command/{{row.name}}/{{row.start_stop}}'>{{row.start_stop}}</a></td>
            <td><a href='/command/{{row.name}}/{{row.delete}}'>{{row.delete}}</a></td>
            <td><a href='/command/{{row.name}}/{{row.pause}}'>{{row.pause}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

